---
import Layout from '../layouts/Layout.astro';
import GnuLinuxIntro from '../components/GnuLinuxIntro.astro';

import LinuxMint from '../components/distros/LinuxMint.astro';
import Ubuntu from '../components/distros/Ubuntu.astro';
import Debian from '../components/distros/Debian.astro';
import ZorinOS from '../components/distros/ZorinOS.astro';
---

<Layout title="Open Source Finder">
	<main>
		<GnuLinuxIntro />

		<LinuxMint />
		<Ubuntu row="row-reverse" />
		<Debian />
		<ZorinOS row="row-reverse" />

	</main>
</Layout>