---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Opensoftware from '../components/info/OpenSoftware.astro';
import Advantages from '../components/info/Advantages.astro';
import Programs from '../components/info/Programs.astro';
import Linux from '../components/info/Linux.astro';
---

<Layout title="Open Source Finder">
	<main>
		<Hero />
		
		<Opensoftware />
		<Programs />
		<Linux />
		<Advantages />

	</main>
</Layout>