---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ProgramsIntro from '../components/ProgramsIntro.astro';
import Footer from '../components/Footer.astro';
import Gimp from '../components/programs/design/Gimp.astro';
import AssaultCube from '../components/programs/games/AssaultCube.astro';
import StuntRally from '../components/programs/games/StuntRally.astro';
import SuperTuxKart from '../components/programs/games/SuperTuxKart.astro';
import VLC from '../components/programs/multimedia/VLC.astro';
import LibreOffice from '../components/programs/office/LibreOffice.astro';
import Brave from '../components/programs/web-browser/Brave.astro';
import Firefox from '../components/programs/web-browser/Firefox.astro';
import Midori from '../components/programs/web-browser/Midori.astro';
import Vivaldi from '../components/programs/web-browser/Vivaldi.astro';
---

<Layout title="Open Source Finder">
	<main>

		<Header />

		<ProgramsIntro />

		<Gimp />
		<AssaultCube row="row-reverse" />
		<StuntRally />
		<SuperTuxKart row="row-reverse" />
		<VLC />
		<LibreOffice row="row-reverse" />
		<Brave />
		<Firefox row="row-reverse" />
		<Midori />
		<Vivaldi row="row-reverse" />

		<Footer />

	</main>
</Layout>