---
import IntroContent from "./IntroContent.astro"
---

<section class="gnu-linux-intro intro-section">
  <IntroContent
    title="La libertad en tu equipo"
    paragraph="Escoge tu próximo sistema operativo"
    button="Ver distros"
  >
  </IntroContent>
  <div style="margin-top: auto; min-height: 3em;" id="start"></div>
</section>

<style>
  .gnu-linux-intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--clr-bg-gradient);
    height: 48em;
  }

  .content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1.5em;
    color: var(--clr-neutral-100);
    z-index: 20;
  }

  h1 {
    font-size: var(--fs-950);
    text-transform: uppercase;
    font-weight: var(--fw-medium);
  }

  p {
    font-size: var(--fs-550);
  }

  a {
    max-width: fit-content;
  }

  button {
    cursor: pointer;
    border: 2px solid var(--clr-neutral-100);
    background-color: transparent;
    padding: .5em 1em;
    font-size: var(--fs-450);
    color: var(--clr-neutral-100);
    border-radius: var(--rounded-20);
    transition: background-color .1s ease, color .1s ease;
  }

  button:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
  }
</style>